*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        max-width: 1440px;
        margin: auto;
        overflow: hidden;
}
nav{
    display: flex;
    height: 15vh;
    /* align-items: center; */
    padding: 0px 15px;
}
#button{
    position: absolute;
    left: 1200px;
    padding: 5px 30px;
    color: grey;
    background-color: #fff;
    border-radius: 10px;
}
#button:hover{
    background-color: chartreuse;
    color: black;
    border: 2px solid;
}
.logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 110px;
}
nav ul li:first-child{
    font-weight: 750px;
    color: black;
    margin-left: 80px;
    /* margin-top: 20px; */
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 70px;
    margin-top: 10px;
    font-display:5px;
    font-style: normal;
}
/* main section */
main{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: center;
}
main div{
    width: 50%;
}.left{
    margin-left: 5%;
    position: relative;
}.square ,.image{
    height: 450px;
    width: 360px;
    position: absolute;
    right: 470px;
    bottom: -650px;
    margin: 90px;
    margin-bottom: 30px;
}
.square{
    height: 330px;
    width: 300px;
    position: absolute;
    margin: 30px;
    margin-bottom: -20px;
}
.right{
    align-items: center;
    justify-content: center;
    width: 50%;
}
.heading{
    position: absolute;
    margin: 30px;
    /* margin-top: 260px; */
    top: 270px;
    right: 130px;
    font-weight: bolder;
    text-size-adjust: 50px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.pop{
    position: relative;
    top: 390px;
    right: 390px;
    font-size: 10 px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.globe{
    height: 55px;
    position: absolute;
    top: 190px;
    right: 630px;
    
}
.star{
    position: absolute;
    top: 240px;
    right: 180px;
    height: 40px;
}
.taara{
    position: absolute;
    top: 650px;
    right: 780px;
    height: 40px;
}
.email{
    position: absolute;
    top: 500px;
    right: 510px;
    padding: 2px 23px;
    border-radius: 8px;
    background-color: #fff;
    color:#0D0D0D;
    font-family: Arial, Helvetica, sans-serif;
}
.email:hover{
    background-color: cadetblue;
    color: black;

}
.join:hover{
    background-color:#E07C24;
    color: black;
}
.join{
    position: absolute;
    top: 499px;
    right: 420px;
    background-color:#0D0D0D;
    color: #fff;
    padding: 2px 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    position: absolute;
    top: 620px;
    right: 500px;
}
.gold{
    position: absolute;
    top: 645px;
    right: 580px;
    height: 25px;
}
.silver{
    position: absolute;
    top: 645px;
    right: 540px;
    height: 25px;
}
.king{
    position: absolute;
    top: 645px;
    right: 500px;
    height: 25px;
}
.queen{
    position: absolute;
    top: 645px;
    right: 460px;
    height: 25px;
}